$windowBorderRadius: 13px;

@mixin shadow {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

@keyframes loadevent {

  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  50% {
    opacity: 20%;
    transform: translateY(-2px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }

}

.appLayout {
  position: absolute;
}

.appLayoutFullscreen {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;
}

.header {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding-left: 10px;

  border-top-left-radius: $windowBorderRadius;
  border-top-right-radius: $windowBorderRadius;

  border: 1px solid #D3D3D3;

  background-color: #fff;

  @include shadow;
}

.fullscreenHeader {
  position: fixed;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding-left: 10px;

  border: 1px solid #D3D3D3;

  background-color: #fff;

  z-index: 2;

  transition: top 0.1s ease-in-out;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);

  font-family: Inter, Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.contentWrapper {
  height: 100%;

  border-bottom-left-radius: $windowBorderRadius;
  border-bottom-right-radius: $windowBorderRadius;
  border: 1px solid #e3e3e3;
  border-top: 0;

  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.5);

  overflow: scroll;

  @include shadow;
}

.contentWrapperFullscreen {
  width: 100vw;
  height: 100vh;
}

.a {

}

.topResizeLine,
.rightResizeLine,
.bottomResizeLine,
.leftResizeLine {
  position: absolute;

  //background-color: red;
}

.topResizeLine {
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  cursor: ns-resize;
}

.rightResizeLine {
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;

  cursor: ew-resize;
}

.bottomResizeLine {
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  cursor: ns-resize;
}

.leftResizeLine {
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;

  cursor: ew-resize;
}

.topLeftCorner,
.topRightCorner,
.bottomRightCorner,
.bottomLeftCorner {
  position: absolute;
  width: 10px;
  height: 10px;

  //background-color: red;
}

.topLeftCorner {
  top: 0;
  left: 0;

  cursor: nwse-resize;
}

.topRightCorner {
  top: 0;
  right: 0;

  cursor: nesw-resize;
}

.bottomRightCorner {
  bottom: 0;
  right: 0;

  cursor: nwse-resize;
}

.bottomLeftCorner {
  bottom: 0;
  left: 0;

  cursor: nesw-resize;
}
