$tabHeight: 30px;

@keyframes newTabAnimation {
  0% {
    transform: translateY($tabHeight);
  }

  100% {
    transform: translateY(0);
  }
}

.Tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 200px;
  height: $tabHeight;
  padding: 0 5px;

  overflow: hidden;
  cursor: default;

  font-size: 12px;

  animation: 0.4s newTabAnimation ease-in-out;

  &:hover {
    background-color: #eeeeee;
  }
}

.selectedTab {
  background-color: #fff;
}

.tabText {
  max-width: 170px;
  overflow: hidden;
  word-break: break-word;
  height: 14px;
}

.closeButton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 15px;
  height: 15px;
  border-radius: 4px;

  &:hover {
    background-color: #fff;
  }
}
